*{
  box-sizing: border-box;
}
body{
margin: 0;
/*background-image: url("https://imgnooz.com/sites/default/files/wallpaper/abstract/55419/dark-3d-abstract-wallpapers-55419-327353.jpg");*/
background-color:#F7D4E3;
}

h1{
 width: 100%;
 color: #FC600A; /*#2E2FE3;*/
 text-align: left;
 margin-bottom: 1%;
 margin-top: 1%;
 background-color: #C21460;/*#448D76;*/
 padding: 10px;
 font-size: 50px;
 font-family: fantasy;
}
@media (max-width: 650px) {
    h1 {
        text-align: center;
        background-color: #FC600A;
        color:#C21460;
    }
}

p{
 color: #341809;
 background-color: #F7D4E3;
 font-size: 20px;
 font-weight: bold;
 font-family: sans-serif;
 border-color: #341809;
 text-align: center;
}
@media (max-width: 650px) {
    p {
        color: #FC600A;
    }
 }

form{
width:35%;
border:2px solid black;
border-radius: 8px;
background: #341809; /*#13232f;*/
box-sizing: border-box;
padding-top: 10px;
margin-left: 30%;
}

@media (max-width: 650px) {
    form {
      min-width: 300px;
      margin-left: 20%;
  }
 }

form,p{
 display: block;
}

label{
width: 100%;
font-size: 18px;
display: block;
margin-left: 36px;
color: white;
font-family: monospace;
margin-top: 20px;
}

input{
width: 80%;
margin-bottom: 3%;
padding: 10px;
border: 1px solid black;
margin-left: 7%;/*36px;*/
border-radius: 8px;
position: relative;
}

input:focus{
border: 2px solid #DC143C;
border-radius: 8px
}

#btnCifra{
padding: 3mm 10mm;
font-size: 16px;
cursor: pointer;
text-align: center;
color: #DC143C;
background-color: white;
border: 1px solid #DC143C;
border-radius: 25px;
font-family: monospace;
}

#btnDscifra{
padding: 3mm 7mm;
font-size: 16px;
cursor: pointer;
text-align: center;
color: white;
background-color: #DC143C;
border: none;
border-radius: 85px;
font-family: monospace;
}

.grid-container{
  text-align: center;
}

.grid-item{
  display:inline-block;
}

#btnCifra:hover{
background:#DC143C;
color: white;
}

#btnDscifra:hover{
 background: white;
 color: #DC143C;
}

#clean{
width: 25%;
padding: 3mm 5mm;
font-size: 12px;
cursor: pointer;
color: white;
border: none;
background-color: #FB8604;
border-radius: 25px;
margin-bottom: 20px;
}

.cleanb{
  text-align: center;
}

@media (max-width: 768px) {
#clean{
width: 60%;
}
}
